body{
  background-color:rgb(234, 247, 244);
  color: #66cdaa;
  padding: 50px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
}

button{
  background-color:rgb(240, 236, 232);
  color:mediumaquamarine;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  border-radius: 10px;
  border-color:aquamarine;
  border-style:outset;
  margin: 10px;
}

h1{
  text-decoration: overline underline;
  text-decoration-color: aquamarine;
  letter-spacing: 10px;
  font-size:75px;
  text-shadow: 2px 0px 0px #4b8c79;
}

p{
  text-decoration: overline;
  text-decoration-color: aquamarine;
  text-shadow: 2px 0px 0px #4b8c79;
  padding:10px;
}